.contenedor-principal {
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: black;
}

.efecto {
  border-radius: 1px;
  background-color: #f4f7f8;
  display: flexbox;

  border: 2px solid white; /* Borde exterior sólido */
  border-radius: 5px;
  border-top: 1px solid white;
  border-left: 2px solid white;
  border-bottom: 3px solid white;
  border-right: 2px solid white;
  box-shadow: 0 0 5px white;
}

.contenedor-todo {
  padding: 20px;
  border: 2px solid #f4f7f8;
  border-width: 1px;
  position: relative;
  border-radius: 2px;
  height: 750px;
  width: 650px;
  background-color: rgb(244, 240, 235);
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
}

h1 {
  color: rgb(10, 10, 28);
  text-decoration: double;
}

input {
  border: 2px solid rgb(244, 240, 235);
  padding: 6px;
  margin-right: 20px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

button {
  padding: 5px 10px;
  color: rgb(245, 73, 73);
  border: none;
  cursor: pointer;
  background-color: #f4f7f8;
}

ul {
  gap: 6px;
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
  flex-direction: column;
}

li {
  display: flex;
  align-items: center;
  padding: 5px 0;
}

.efecto li button {
  visibility: hidden;
}

.efecto li:hover button {
  visibility: visible;
}

.rounded-button {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 20px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}
